.main-Container {
  margin: 0;
  background-color: #f8f9fa;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: #2f3b58;
  color: aliceblue;
  padding: 12px;
  h1 {
    margin: 0;
  }
}

.form-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .form {
    display: flex;
    padding: 10px;
    // flex-direction: column;
    box-shadow: 3px 3px 5px rgba(76, 76, 76, 0.57);
    width: fit-content;
    border-radius: 20px;
    background-color: #f5f6f726;

    flex-wrap: wrap;
    align-items: center;
    span {
      // width: 100px;
      // height: 100px;
      // box-shadow: 3px 3px 5px rgba(76, 76, 76, 0.57);
      // border-radius: 50%;
      color: #d97706;
      font-size: 40px;
    }
    h3 {
      margin: 0;
      padding: 10px;
      color: #17264c;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: '10px';
    background: rgb(56, 61, 90);
    color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 20px;
      }
    }
    span:hover {
      cursor: pointer;
    }
  }
  input {
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 10px;
    border: 2px solid #1b67d2;
    margin: 30px 0;
  }
  button {
    width: fit-content;
  }
}
