.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: #83a9cc31;
  color: #052b51;
  padding: 20px;
  h1 {
    margin: 0;
  }
}
.button-Container {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  padding: 12px;
  gap: 20px;
  background-color: #9ab7e0ef;
  height: 88.7vh;
}
.fields-container {
  gap: 20px;
  max-height: 86.5vh;
  background-color: #f9f9f9;
  overflow: scroll;
  .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(45, 45, 45, 0.26);
    padding: 20px 30px;
    gap: 20px;
    border-radius: 10px;
  }
  p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #383a71;
  }
  span {
    color: #1f2160;
    font-size: x-large;
  }
}
.canvas-container {
  background-color: #f9f9f9;
  overflow: scroll;
  max-height: 86.5vh;
}

.field-Container {
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  gap: 20px;
  label {
    font-size: 19px;
    padding-left: 10px;
  }

  span {
    font-size: 24px;
    color: red;
    padding: 10px;
  }
}
.preview-container {
  .mobile-container {
    border: 10px solid #1f2160;
    height: 84vh;
    border-radius: 30px;
    background-color: #f9f9f9;
    .mobile-header {
      background-color: #1f2160;
      position: relative;
      top: 0;
      left: 28%;
      height: 20px;
      width: 200px;
      border-bottom-left-radius: 80%;
      border-bottom-right-radius: 80%;
      // text-align: center;
    }
  }
}
